
.login_box {
  background:#e5f8ff;
  height: inherit !important;
  border-radius:0 0 5px 5px;
  margin:0px 0px 0px 0px; padding:13px 15px 15px 15px;
  text-align:center;
}

.login_box .title {
  font-size:26px;
  color:#4b89ad;
  padding-bottom:13px;
}

.login_box .form-group input {
  border:none;
  border-radius:0;
  background:#fff;
  min-height:40px;
  color:#777;
  font-size:14px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
}

.login_box .submit button {
  border:none; width:100%;
  border-radius:0;
  min-height:50px;
  background: #3E61C3;
  font-weight:bold;
  font-size:20px;
  color:#fff;
  margin-bottom:10px;
}

.login_box .forgot_password a {
  font-size:14px;
  color:#3E61C3;
}

.login_box .create_account button {
  border:none;
  width:100%;
  border-radius:0;
  min-height:50px;
  background:#777;
  font-weight:bold;
  font-size:20px;
  color:#fff;
  }

  .white_bg {
    background:url(../images/whitepolybg.png) no-repeat bottom center;
  	background-size:cover;
  	background-attachment:fixed; float:left; width:100%; padding:50px 0;
  }

  .padding-page { padding-bottom:50px;}

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2,
  .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4,
  .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6,
  .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
  .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
   .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7,
  .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-12 {
    width: 100%;
  }
  .form-control{
   color:#000000 !important;
  }

  .col-centered {
    float: none;
    margin: auto;
    text-align: left;
  }

  .dontac { font-size:20px; color:#777; padding-bottom:13px; padding-top:12px;}

  .dontac a {
    border:none;
    width:100%;
    border-radius:0;
    min-height:50px;
    background:#85cf85;
    font-weight:bold;
    font-size:20px;
    color:#fff;
    margin-bottom:10px;
    display:block;
    padding:10px 0 0;
  }

  .greenbtn a { background: #85cf85; border-bottom: 3px solid #6bb96b;}
  .greenbtn a:hover { background:#85cf85;}

  .bottom-btn {
    padding:0px 0;
    text-align:right;
    margin-top:-80px;
    text-align:center;
  }
